@charset"utf-8";

/*formatação de texto*/
h1 {
	color: white;
	text-shadow: 3px 2px 1px black;
	font-size: 300%;
}

a {
	color: white;
}

p {
	text-align: justify;
	color: white;
	text-shadow: 2px 1px 3px black;
	text-indent: 5%;
}

/*formatação de corpo*/

section#corpo-site {
	border-top: 5px double red;
	padding: 10px;
}

body {
	background-color: darkblue;
	background-image: url(universedc.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
}

div#interface {
	width: 1100px;
	margin: -15px auto 0px auto;
	box-shadow: 2px 1px 3px black;
	background-color: rgba(4, 25, 77, 0.9);
	padding: 25px;
	background-image: url(dccomic.jpg);
	background-position: center;

}

figure.logo {
	top: -5px;
	right: 100px;
	position: absolute;
}

/*formatação de imagem*/

figure.peq img {
	border: 6px solid white;
	display: inline-block;
	box-shadow: 2px 1px 3px black;
	width: 15%;
	height: 10%;
	margin: 10px;
	
}

figure.foto-heroi img {
	border: 8px solid white;
	display: inline-block;
	box-shadow: 2px 1px 3px black;
	width: 30%;
	height: 25%;
	margin: 16px;
}

figcaption.direita {
	text-align: right;
}

figcaption.esquerda {
	text-align: left;
}

figure.foto-galeria img {
	border: 8px solid white;
	display: inline-block;
	box-shadow: 2px 1px 3px black;
	width: 45%;
	height: 25%;
	margin: 16px;
}


/*formatação de menu*/

nav#menu-site li {
	color: white;
	top: -5px;
	right: 10px;
	position: relative;
	box-shadow: 3px 2px 4px black;
	display: inline-block;
	border: 1px dotted blue;
	border-width: 2px;
	padding: 10px;
	width: 130px;
	background-color: rgba(0, 25, 126, 0.6);
	transition: background-color 1s;
	text-decoration: none;
}

nav#menu-site li:hover {
	background-color: lightblue;
}

nav#menu-site a {
	transition: color;
	text-decoration: none;
}

nav#menu-site a:hover {
	color: black;
}

nav#menu li {
	color: white;
	top: 10px;
	right: 10px;
	position: relative;
	box-shadow: 3px 2px 4px black;
	display: block;
	border: 1px dotted blue;
	border-width: 2px;
	padding: 10px;
	width: 130px;
	background-color: rgba(0, 25, 126, 0.6);
	transition: background-color 1s;
	text-decoration: none;
}

nav#menu li:hover {
	background-color: lightblue;
}

nav#menu a {
	transition: color;
	text-decoration: none;
}

nav#menu a:hover {
	color: black;
}

div.heroisimg {
	display: flex;
	flex-direction: row;
    justify-content: center;
    align-items: center

}

figcaption.legenda{
	text-align: center;
}

img.herois {
	height: 180px;
	border: 8px solid white;
}
